button-default(bg = brand-pure)
  padding: 12px 24px
  background-color: bg
  border-radius: 4px
  color white
  cursor pointer
  font-size: 14px
  font-weight: 800

button-hover()
  background-color: brand-dark

button-disabled()
  background-color: brand-grey
  cursor not-allowed