input-default(brd = brand-grey)
  padding 11px 14px
  width 100%
  border-width: 1px
  border-style: solid
  border-color brd
  border-radius: 2px
  color brand-black
  font-size: 14px

input-focus()
  border-color brand-pure

input-error()
  border-color: error